@model PharmaWeb.Data.Appointment
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
    ViewData["Title"] = "Delete";
}

<h1>@localizer["delete"]</h1>

<h3>@localizer["cancel"]</h3>
  <hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaysSession):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaysSession)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reasontest):
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reasontest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AfspraakID" />
        <input type="submit" value="Cancel this appointment" class="btn btn-danger" />
    </form>
</div>
